body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif !important;
}

#root {
  width: 100%;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-container {
  display: flex;
  flex: 1;
  overflow-x: hidden;
}
.sidebar {
  background-color: #e0e0e0;
  padding: 1rem;
  overflow-y: auto;
}

.main-content {
  margin-left: 250px;
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}