body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.home-body {
  height: 100%;
}

.home-header {
  display: flex;
  width: 100%;
  justify-content: space-evenly; /* Cambiado a space-between para más espacio */
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 165, 0, 0.8);
  z-index: 1000;
}

.header-image {
  width: 100vw; /* Ocupa todo el ancho del viewport */
  height: 100vh; /* Ocupa todo el alto del viewport */
  object-fit: cover; /* Mantiene la proporción de la imagen */
  padding: 0;
  margin: 0;
}

.home-header img {
  width: 70px;
  object-fit: cover;
  margin: 0;
}

.home-header h1 {
  margin: 0 auto;
  padding-right: 20px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

.cta-buttons {
  display: flex;
  gap: 10px; /* Espacio entre botones */
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.btn-primary, .btn-secondary {
  background-color: #ff4500; 
  transition: background-color 0.3s ease;
}

.btn-primary:hover, .btn-secondary:hover {
  background-color: #dc2700;
}
