/* Contenedor principal del login */
.login-page {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

/* Encabezado */
.login-title {
  text-align: center;
  font-size: 2.5rem;
  color: #dc2700; /* Un rojo que evoca la temática de la pizza */
  margin-bottom: 1rem;
  margin-top: 0;
  font-weight: 700;
}

/* Estilos de los inputs */
.input-group {
  margin-bottom: 1rem;
  width: 93%;
}

.input-label {
  display: block;
  margin-bottom: 8px;
  color: #4f4f4f; /* Un gris suave */
}

.login-input {
  width: 93%;
  padding: 12px 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.login-input:focus {
  border-color: #dc2700;
  outline: none;
}

/* Botón de submit */
.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #dc2700; /* Rojo pizza */
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #d6452d; /* Un rojo más oscuro en hover */
}

.submit-button:focus {
  outline: none;
  box-shadow: 0 0 5px 2px rgba(179, 60, 18, 0.4);
}

/* Mensaje de error */
.error-message {
  color: #d6452d; 
  font-size: 0.9rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* Para pantallas más pequeñas */
@media (max-width: 600px) {
  .login-container {
    padding: 1.5rem;
  }

  .login-title {
    font-size: 2rem;
  }

  .submit-button {
    font-size: 0.9rem;
  }
}
