
section{
  position: relative;

}
.sidebar {
  box-sizing: border-box;
  width: 220px;
  height: auto;
  height: 90vh;
  background-color: #fefefe;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: left 0.3s ease;
  color: white;
  padding-top: 20px;
}

.sidebar.open {
  left: 0;
  box-shadow: 2px 5px 6px 1px rgba(0,0,0,0.4);
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a {
  color: #495057;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
}

.sidebar nav ul li a:hover {
  background-color: red;
  border-radius: 4px;
  color: #fff;
}

.sidebar i {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
